<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/javascripts/handlebars-v4.0.12.js"></script>
    <script src="/javascripts/handlebarsFrontendCodes.js"></script>
    <script src="/javascripts/resultsJson.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <a href="/"><img class="logo" src="/images/fin2b-logo.svg" ></a>
        <span class="timer" data-timer={{timer}}></span>
        <a class="contact" href="/contact">Contact</a>
    </div>
    {{#if form}}
        <form class="login">
                <input id="id" type="text" placeholder="ID" value="Webmaster">
                <input id="ps" type="password" placeholder="PASSWORD">
                <input type="submit" value="LOGIN" onclick="login(event)">
        </form>
        <div class="fibonacciArea">
            <input class="fibonacci" type="text" placeholder="Fibonacci Nth" oninput="fibonacciCompute(event)">
            <span id="fibonacciValue">0</span>
        </div>
        <form class="googleSearchArea">
            <div >
                <input class="googleSearch" type="text" placeholder="Google Search">
                <input class="" type="submit" value="Search" onclick="googlesearch(event)">
            </div>
        </form>
        <div class="searchResult"></div>
    {{/if}}
    <div class="home">
        <div>{{body}}</div>
    </div>
</body>

<script>
    let serverTime = document.querySelector(".timer").dataset.timer;
    let diff = Date.now()-serverTime;
    function timer(){
        let d = new Date(Date.now()-diff);
        document.querySelector(".timer").innerText = d.toLocaleString();
    };
    timer();
    setInterval(timer,1000);

    function login(e){
        e.preventDefault();

        let id = document.querySelector("#id").value;
        let ps = document.querySelector("#ps").value;

        document.querySelector("#id").value = id.replace(/ /gi,'');
        document.querySelector("#ps").value = ps.replace(/ /gi,'');

        if(checkup(ps)){
            alert("OK");
        }
    }
    
    function checkup(keystr){
            let regex = [/.{8,}/g, /[A-Z]+/g, /[a-z]+/g, /[0-9]+/g, /[\W]+/g];
            for(var i=0; i<regex.length; i++){
                if(!regex[i].test(keystr)) break;
            }
            switch(i){
                case 0:
                    alert("최소8자 이상이여야 함");
                    break;
                case 1:
                    alert("대문자는 최소1개가 포함되여야 함");
                    break;
                case 2:
                    alert("소문자는 최소1개가 포함되여야 함");
                    break;
                case 3:
                    alert("수자가 최소1개 포함되여야 함");
                    break;
                case 4:
                    alert("특수문자는 최소1개 포함되여야 함.")
                    break;
            }
            return i===5;
    }


    let tid=0;
    function fibonacciCompute(event){
        clearTimeout(tid);
        tid = setTimeout(()=>{
            let data = {N:event.target.value};
            myAjax("post","/fibonacci",data,(xhr)=>{
                let r = xhr.responseText;
                document.querySelector("#fibonacciValue").innerText = r;
            });
        },500);
    }


    function myAjax(method="POST", url="", data={}, callback=(xhr)=>{}) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                callback(this);
            }
        };
        method = method.toLowerCase();
        xhr.open(method, url, true);
        method==="post" && xhr.setRequestHeader("Content-type", "application/json");
        xhr.send(method==="post"?JSON.stringify(data):null);
    }



    //google search
    function googlesearch(event){
        event.preventDefault();
        let key = "AIzaSyDE7k8lIGIteWbLs4ShuoBwYm1Ld3JyC_0";
        let cx = "006302910569569867484:4derhzxxwny";
        let searchkey = document.querySelector(".googleSearch").value;
        let url = 'https://www.googleapis.com/customsearch/v1/siterestrict?key='+key+'&cx='+cx+'&q='+searchkey;
        
        //handlebarsRender(jsonData);
        event.target.disabled=true;
        myAjax("get",url, {}, (xhr)=>{
            event.target.disabled=false;
            let r = JSON.parse(xhr.responseText);
            handlebarsRender(r);
        }); 
    }
</script>

</html>