.grayZone{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 8;

    opacity:0;
    visibility: collapse;
}

.grayZoneShow{
    opacity:1;
    visibility: visible;
}

.sideMenu{
    position:fixed;
    top:0px;
    width:300px;
    height:100%;
    background:white;
    z-index:10;
    padding: 20px;
    padding-top: 50px;
    left:-400px;
    visibility: collapse;
    overflow-y: auto;
    overflow-x: hidden;
}

.sideMenuShow{
    left:0px;
    visibility: visible;
}

.closeSymbol{
    background:none;
    color:black;
    font-size:30px;
    border: 0;
    right: 0px;
    top: 0px;
    position:absolute;
    border-radius: 5px;
    padding:0 12px;
}
